/* GAME */

.add-border {
    border: 5px solid #FFF;
    box-shadow: 0 0 0 2px green;    
}

.candy-container img {
    width: 3rem;
    height: 3rem;
}

.message {
    margin-bottom: .1rem;
    height: 3rem;
}

.btn {
    border: none;
    background-color: var(--pink-color);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: .3rem;
    padding: 0.7rem 0rem;
    outline: none;
    width: 10rem;
    transition: all 300ms ease;
}

.btn a {
    color: #fff;
}

.btn:hover {
    opacity: .9;
    border-radius: 1.5rem;
    width: 12rem;
}

.user-input-block {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
}

#user-value {
    background-color: #fff;
    color: var(--black-color);
    font-size: 2rem;
    width: 8rem;
    display: block;
    padding: 0.3rem;
    outline: none;
    border: 4px solid #ddd;
}

#dealer {
    width: 10rem;
    height: 10rem;
}

.small-rect {
    width: 0.3rem;
    height: 1.3rem;
    background-color: black;
    margin: 0.1rem;
    border-radius: 2rem;
}

.small-rect-I {
    width: 0.3rem;
    height: 2rem;
    background-color: black;
    margin: 0.1rem;
    border-radius: 2rem;
}

.add-white-bg {
    background-color: white;
}

#bot-one-turn,
#bot-two-turn,
#higher-lower,
#count-down {
    font-size: 2rem;
}


.hide {
    visibility: hidden;
}

#bot-one-img,
#bot-two-img {
    width: 10rem;
}

.border-input {
    border: 0.5rem solid red;
}
