.login-bg {
    background-image: url("/assets/login-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: white;
    width: 100%;
    min-width: 20rem;
    /* padding-top: 2rem; */
}

/* Form */
.form-container {
    width: 60%;
}

form h2 {
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-size: 2rem;
}

form label {
    font-weight: bold;
    margin: .6rem 0 .6rem .3rem;
}

form input {
    background-color: rgb(218, 216, 216);
    margin-bottom: .6rem;
    border: none;
    padding: .8rem;
    border-radius: .3rem;
    outline: none;
}

/* Sign in button */
form input:last-child {
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
    background-color: var(--dark-blue-color);
    transition: ease .5s;
}

form input:last-child:hover {
    cursor: pointer;
    background-color: var(--blue-color);
}

/* Sign up */
.register {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.register a {
    font-weight: bold;
    transition: ease .4s;
}

.register a:hover {
    color: var(--dark-blue-color);
}
