.login-bg {
    background-image: url("/assets/login-bg.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: white;
    height: 100%;
    min-width: 30rem;
}

/* Logo */
.logo {
    width: 80%;
    margin-bottom: 2rem;
}

/* Form */
.form-container {
    width: 60%;
}

form h2 {
    margin: 1rem 0;
    text-align: center;
}

form label {
    font-weight: bold;
    margin: .6rem 0 .6rem .3rem;
}

form input {
    background-color: rgb(218, 216, 216);
    margin-bottom: .6rem;
    border: none;
    padding: .8rem;
    border-radius: .3rem;
    outline: none;
}

/* Sign in button */
form input:last-child {
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
    background-color: var(--dark-blue-color);
    transition: ease .5s;
}

form input:last-child:hover {
    cursor: pointer;
    background-color: var(--blue-color);
}

/* Sign up */
.black-info-divider {
    margin: 2rem 0;
    width: 30%;
    border-top: .2rem solid var(--black-color);
}

.register {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.register a {
    font-weight: bold;
    transition: ease .4s;
}

.register a:hover {
    color: var(--dark-blue-color);
}

/* Knappen var utkommenterad i HTML, kan det tas bort? // Jen
form button a{
    color: var(--blue-color);
}

a {
    color: var(--black-color)
}
a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0.625rem;
}

.add-border-input {
    border: 0.2rem solid red;
}
*/