@media (max-width: 40em) {

    /* index */
    .main-menu-bg {
    display: none;
    }

    /* Start button */
    .primary-button {
        width: 80%;
    }


        /* stats */
        main {
            flex-direction: column;
        }
    }

 
    .secondary-button {
        width: 60%;
    }

    .sign-out-button {
        width: 40%;
    }

    /* game */

    /* stats */
 
}
