
/* Reusable classes */
:root {
    --red-color: #FEBDC9;
    --yellow-color: #FFFE8A;
    --blue-color: #8BC8DA;
    --black-color: #293036;
}

.margin1 {
    margin: 1rem;
}

.padding1 {
    padding: 1rem;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.ycenter {
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.yflex-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}