
/* Reusable classes */
:root {
    --pink-color: #FEBDC9;
    --yellow-color: #FFFE8A;
    --blue-color: #8BC8DA;
    --green-color: #B4F3BB;

    --dark-pink-color: #FEACC9;
    --dark-yellow-color: #F8F65E;
    --dark-blue-color: #77B9DA;
    --dark-green-color: #9CD4A4;

    --black-color: #293036;
}

/* Flex */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.center {
    justify-content: center;
    align-items: center;
}

.xcenter {
    justify-content: center;
}

.ycenter {
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.yflex-end {
    align-items: flex-end;
}


/* List */
ul {
    list-style-type: disc;
}

li {
    margin: .5rem;
    font-size: 1.5rem;
}


/* Text */
.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

h1 {
    font-size: 4rem;
    font-family: 'Radley', serif;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}


/* Whitespace */
.margin1 {
    margin: 1rem;
}

.padding1 {
    padding: 1rem;
}


/* Go back button */
.back-arrow {
    position: absolute;
    padding-top: 2rem;
    padding-left: 2rem;
}

.back-arrow span{
    background: var(--black-color);
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: border-radius 300ms ease;
}

.back-arrow span:hover {
    border-radius: 50%;
}
