* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Stats */

.back-arrow span {
    background: var(--black-color);
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    transition: border-radius 300ms ease;
}

.back-arrow span:hover {
    border-radius: 50%;
}

.bot-one,
.bot-two,
.bot-three {
    flex: 1;
    min-height: 28rem;
}

.bot-one {
    background-color: var(--green-color);
}
.bot-two {
    background-color: var(--yellow-color);
}
.bot-three {
    background-color: var(--blue-color);
}

.img-bot {
    margin: 1rem;
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

li {
    padding: 1rem;
}
