/* STATS */


/* Backgrounds */
.green-bg {
    background-color: var(--green-color);
}

.yellow-bg {
    background-color: var(--yellow-color);
}
.blue-bg {
    background-color: var(--blue-color);
}

/* Profile image */
.profile-image-container {
    padding-top: 5rem;
}

.profile-image {
    width: 13rem;
    background-color: #fff;
    border-radius: 50%;
}

/* Profile info 
   ul and li => reusable.css */ 
.profile-info {
    margin-top: 1rem;
}

.personality {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* Line - Info divider */
.green-info-divider {
    width: 75%;
    border-bottom: .2rem solid var(--dark-green-color);
}

.yellow-info-divider {
    width: 75%;
    border-bottom: .2rem solid var(--dark-yellow-color);
}

.blue-info-divider {
    width: 75%;
    height: 1rem;
    border-bottom: .2rem solid var(--dark-blue-color);
}

/* Stats */
.stats-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.user-circle-diagram {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--dark-green-color);
    margin-bottom: 1rem;
}

.bot1-circle-diagram {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--dark-yellow-color);
    margin-bottom: 1rem;
}

.bot2-circle-diagram {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--dark-blue-color);
    margin-bottom: 1rem;
}